// font-family
$font-family1: 'Avenir Next', sans-serif;
$font-family2: 'Work Sans', sans-serif;
$font-family3: 'Roboto', sans-serif;

// background and font color
$primary-bg-color: #fbfbfb;
$secondary-bg-color: #ffffff;

// font-color
$primary-text-color: #213f7d;
$secondary-text-color: #545f7d;
$tertiary-text-color: #39cdcc;

// font-weight
$bold: 600;
$regular: 500;
$thin: 400;

// font-sizes
$xlarge: 40px;
$larger: 24px;
$large: 19px;
$small: 16px;
$smaller: 14px;
$smallest: 12px;

// border
$border: 1px solid #213f7d0f;

// shadow
$secondary-shadow: 0px 5px 20px 0px #0000000a;
$primary-shadow: 3px 5px 20px 0px #0000000a;

// padding and margin
$padRightLeft: 2em;
$padTopBottom: 4em;
$marginRightLeft: 2em;
$marginTopBottom: 4em;
