* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login__form-container {
  background: #ffffff;
  max-width: 704px;
  height: 100%;
  padding: 0 100px;
}
@media (max-width: 768px) {
  .login__form-container {
    max-width: 100%;
    padding: 0 50px;
    margin-bottom: 4em;
  }
}
@media (max-width: 480px) {
  .login__form-container {
    padding: 0 20px;
  }
}
.login__form-container .welcome__text h1,
.login__form-container .welcome__text p {
  font-family: "Avenir Next", sans-serif;
  text-align: left;
}
.login__form-container .welcome__text h1 {
  width: 183px;
  height: 55px;
  margin-top: 215px;
  font-size: 40px;
  font-weight: 700;
  line-height: 54.64px;
  letter-spacing: -0.04em;
  color: #213f7d;
}
@media (max-width: 768px) {
  .login__form-container .welcome__text h1 {
    margin-top: 100px;
  }
}
@media (max-width: 480px) {
  .login__form-container .welcome__text h1 {
    margin-top: 100px;
  }
}
.login__form-container .welcome__text p {
  width: 194px;
  height: 28px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.32px;
}
@media (max-width: 768px) {
  .login__form-container .welcome__text p {
    margin-top: 5px;
  }
}
@media (max-width: 480px) {
  .login__form-container .welcome__text p {
    margin-top: 3px;
  }
}
.login__form-container .form {
  flex: 1 1 447px;
  max-width: 447px;
  display: flex;
  flex-direction: column;
  height: auto;
}
.login__form-container .form .input__values {
  margin-top: 60px;
  height: auto;
}
@media (max-width: 768px) {
  .login__form-container .form .input__values {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  .login__form-container .form .input__values {
    margin-top: 20px;
  }
}
.login__form-container .form .input__container input {
  width: 100%;
  height: 50px;
  margin-bottom: 24px;
  border-radius: 5px 0 0 0;
  border: 2px solid rgba(84, 95, 125, 0.1490196078);
  outline: none;
  padding: 0 10px;
}
.login__form-container .form .input__container input::placeholder {
  font-size: 14px;
  line-height: 19.12px;
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  opacity: 0.6;
}
.login__form-container .form .input__container #show__password {
  margin-left: -50px;
  width: 49.41px;
  line-height: 12.5px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  color: #39cdcc;
  cursor: pointer;
}
.login__form-container .form .input__container #show__password:hover {
  opacity: 0.8;
}
.login__form-container .form p {
  font-family: "Avenir Next", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.39px;
  letter-spacing: 0.1em;
  color: #39cdcc;
  text-align: left;
  margin: 0 0 50px;
  cursor: pointer;
}
.login__form-container .form p:hover {
  opacity: 0.8;
  letter-spacing: 1.5px;
}
.login__form-container .form button {
  max-width: 447px;
  padding: 10px;
  outline: none;
  border: 0;
  border-radius: 8px;
  opacity: 0px;
  background-color: #39cdcc;
  cursor: pointer;
  font-family: "Avenir Next", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
}
.login__form-container .form button:hover {
  opacity: 0.8;
}
@media (max-width: 768px) {
  .login__form-container .form button {
    margin-top: 40px;
    margin-bottom: 4em;
  }
}

/*# sourceMappingURL=index.css.map */
